.gallery-main {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.gallery {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;
    column-gap: 12px;
}

.gallery-item {
    width: calc((100% - 24px) / 3);
}